<div class="max-w-full">
    <app-trailer-banner [showId]="showId"></app-trailer-banner>
    <app-return-btn></app-return-btn>
    <h2 class="p-4 md:p-6 text-3xl md:text-5xl font-bold text-(--color-main-light) dark:text-(--color-main-dark) w-fit">Casting</h2>
    <div class="p-4 md:p-6">
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-4 md:gap-6">
            <app-actor-card 
                *ngFor="let actor of cast" 
                [actor]="actor" 
                class="w-full aspect-[3/4]">
            </app-actor-card>
        </div>
    </div>
</div>
