<div class="h-[80vh] flex items-center justify-center w-full">
  <div class="w-full max-w-lg bg-(--bg-surface-1-light) dark:bg-(--bg-surface-1-dark) p-6 rounded-[25px] shadow-(--shadow-light) dark:shadow-(--shadow-dark)">
    <h2 class="text-xl font-bold text-center text-(--color-main-light) dark:text-(--color-main-dark) mb-4">
      Welcome back !
    </h2>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="mb-4 p-3 bg-red-100 border border-red-400 text-red-700 rounded relative" role="alert">
      <span class="block sm:inline">{{ errorMessage }}</span>
    </div>

    <form name="form" #f="ngForm" (ngSubmit)="onSubmit()" class="flex flex-col">
      <label class="text-(--color-main-light) dark:text-(--color-main-dark)">E-mail</label>
      <input
        type="email"
        class="form-control border border-(--bg-surface-3-light) dark:border-(--bg-surface-3-dark) rounded-(--radius-inner) p-2 w-full mt-2 bg-(--bg-surface-2-light) dark:bg-(--bg-surface-2-dark)"
        name="email"
        [(ngModel)]="form.email"
        required
      />

      <label class="mt-4 text-(--color-main-light) dark:text-(--color-main-dark)">Password</label>
      <div class="relative">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control border border-(--bg-surface-3-light) dark:border-(--bg-surface-3-dark) rounded-(--radius-inner) p-2 w-full mt-2 bg-(--bg-surface-2-light) dark:bg-(--bg-surface-2-dark)"
          name="password"
          [(ngModel)]="form.password"
          required
        />
        <!-- Eye icon (visible when password is hidden) -->
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke-width="1.5"
          stroke="currentColor"
          [ngClass]="{'hidden': showPassword}"
          class="w-5 h-5 absolute right-3 top-[60%] -translate-y-1/2 cursor-pointer text-(--color-main-light) dark:text-(--color-main-dark)"
          (click)="togglePasswordVisibility()"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <!-- Eye-slash icon (visible when password is shown) -->
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke-width="1.5"
          stroke="currentColor"
          [ngClass]="{'hidden': !showPassword}"
          class="w-5 h-5 absolute right-3 top-[60%] -translate-y-1/2 cursor-pointer text-(--color-main-light) dark:text-(--color-main-dark)"
          (click)="togglePasswordVisibility()"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
        </svg>
      </div>

      <button type="submit" class="hover:cursor-pointer mt-12 bg-(--color-main-light) dark:bg-(--color-main-dark) font-bold text-white p-2 rounded-(--radius-inner) mx-auto w-2/5">
        Log in !
      </button>
      <div class="flex justify-between mt-4">
        <a routerLink="/register" class="text-(--color-main-light) dark:text-(--color-main-dark) hover:underline">Create an account</a>
      </div>
    </form>
  </div>
</div>
