<div class="max-w-full">
    <app-trailer-banner [showId]="showId" *ngIf="type === 'show'"></app-trailer-banner>
    <app-return-btn></app-return-btn>
    <h2 class="p-6 text-5xl font-bold text-(--color-main-light) dark:text-(--color-main-dark) w-fit">All comments</h2>
    <div class="px-4 mx-auto items-center gap-10">
        <app-comment *ngFor="let comment of comments"
                    [page]="type"
                    [comment]="comment"
                    [isPage]="true">
        </app-comment>
    </div>
</div>
