<div class="my-6 px-6 rounded-sm border-l-4 border-(--color-main-light) dark:border-(--color-main-dark)" [ngClass]="{'w-full': page === 'episodes', 'max-w-5xl': page === 'show'}">
    <div class="flex items-center space-x-2 mb-4" (click)="toggleSeasonDropdown()">
        <h3 class="text-xl font-semibold">Season 1</h3>
        <svg width="20" height="20" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" *ngIf="!active">
            <line x1="10" y1="15" x2="25" y2="35" stroke-width="4" stroke-linecap="round"/>
            <line x1="40" y1="15" x2="25" y2="35" stroke-width="4" stroke-linecap="round"/>
        </svg>
        <svg width="20" height="20" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" *ngIf="active">
            <line x1="10" y1="35" x2="25" y2="15" stroke-width="4" stroke-linecap="round"/>
            <line x1="40" y1="35" x2="25" y2="15" stroke-width="4" stroke-linecap="round"/>
        </svg>
    </div>

    <div class="w-full overflow-hidden pb-15 pr-15" *ngIf="active && page === 'show'">
        <swiper
            [slidesPerView]="3"
            [spaceBetween]="40"
            [navigation]="false"
            [keyboard]="true"
        >
            <ng-template *ngFor="let episode of episodes" swiperSlide>
                <app-episode-card [episode]="episode"></app-episode-card>  
            </ng-template>
        </swiper>
    </div>

    <div class="w-full flex flex-wrap overflow-hidden gap-8 pb-15 pr-15" *ngIf="active && page !== 'show'">
        <div *ngFor="let episode of episodes">
            <app-episode-card [episode]="episode"></app-episode-card>  
        </div>
    </div>
</div>
