.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 70vw 26.5vw;
        column-gap: 3vw;
        padding: 0;
    }
}