<div class="max-w-full grid-container">
    <app-trailer-banner class="col-span-2"></app-trailer-banner>
    <app-return-btn *ngIf="type === 'episode'"></app-return-btn>
    <app-cast-section class="row-span-3" *ngIf="type === 'episode'"></app-cast-section>
    <app-content-section type="{{type}}"></app-content-section>
    <app-cast-section class="row-span-3" *ngIf="type !== 'episode'"></app-cast-section>
    <app-episodes-section *ngIf="type == 'series'"></app-episodes-section>
    <app-poster-section></app-poster-section>
    <app-comment-section></app-comment-section>
</div>
