<div class="max-w-full grid-container">
    <app-trailer-banner class="col-span-full md:col-span-2" [showId]="showId"></app-trailer-banner>
    <app-return-btn *ngIf="type === 'episode'"></app-return-btn>
    <app-cast-section 
        class="row-span-3 hidden md:block" 
        *ngIf="type === 'episode'" 
        [cast]="cast" 
        [showId]="showId">
    </app-cast-section>
    <app-content-section
        [type]="type"
        [content]="show"
        (openRating)="openRatingPopup()">
    </app-content-section>
    <app-cast-section 
        class="row-span-1 md:row-span-3" 
        *ngIf="type !== 'episode' || (type === 'episode' && innerWidth <= 768)" 
        [cast]="cast" 
        [showId]="showId">
    </app-cast-section>
    <app-episodes-section 
        class="col-span-full md:col-span-1" 
        *ngIf="!show.is_movie && type != 'episode'" 
        [groupedSeasons]="groupedSeasons"
        [showId]="showId">
    </app-episodes-section>
    <app-poster-section 
        [images]="images"
        [showId]="showId">
    </app-poster-section>
    <app-comment-section [showId]="show.show_id"></app-comment-section>

    <app-rating-popup
        [showTitle]="show.name || ''"
        [isOpen]="isRatingPopupOpen"
        (close)="closeRatingPopup()"
        (ratingSubmitted)="onRatingSubmitted($event)">
    </app-rating-popup>
</div>
