<ng-container *ngIf="isAdmin; else redirect">
    <div class="w-full p-4 flex"> 
      <div class="flex gap-4 mt-4 p-4 w-full max-w-6xl"> 
        <div class="w-full p-4">
          <h1 class="text-6xl font-bold">ADMIN PANEL</h1> 
          <h2 class="text-2xl font-bold text-gray-400 mb-4">Manage Movies and Series</h2>
          <!-- Non Displayed Movies -->
          <app-slider-titled
            title="Add Movies"
            [content]="nonDisplayedMovies"
            type="movie"
            buttonType="Add"
            (buttonClick)="addShow($event)"
          ></app-slider-titled>
          <!-- Non Displayed Series -->
          <app-slider-titled
            title="Add Series"
            [content]="nonDisplayedSeries"
            type="series"
            buttonType="Add"
            (buttonClick)="addShow($event)"
          ></app-slider-titled>
          <!-- Displayed Movies -->
          <app-slider-titled
            title="Delete Movies"
            [content]="displayedMovies"
            type="movie"
            buttonType="Delete"
            (buttonClick)="deleteShow($event)"
          ></app-slider-titled>
          <!-- Displayed Series -->
          <app-slider-titled
            title="Delete Series"
            [content]="displayedSeries"
            type="series"
            buttonType="Delete"
            (buttonClick)="deleteShow($event)"
          ></app-slider-titled>
          <div class="mb-8"></div>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-template #redirect>
    <p class="text-center text-red-500 text-2xl">Access Denied. Redirecting...</p>
  </ng-template>
