<div class="w-full text-sm p-4 mt-6 rounded-(--radius-inner) h-fit" [ngClass]="{'bg-(--bg-surface-2-light) dark:bg-(--bg-surface-2-dark)': page === 'show' && isPage === false, 'bg-(--bg-surface-1-light) dark:bg-(--bg-surface-1-dark) shadow-(--shadow-light) dark:shadow-(--shadow-dark)': page !== 'show' || isPage === true}">
    <div class="flex gap-2">
        <p class="font-bold text-(--color-main-light) dark:text-(--color-main-dark)">
            User : {{ comment.username || 'Anonymous' }}
        </p>
        <p>· {{comment.comment_date | date:'dd/MM/yyyy'}}</p>
    </div>

    <p class="mt-2 max-h-[200px] overflow-y-auto pr-2" *ngIf="!comment.is_spoiler || showSpoilerContent">
        {{comment.comment_text}}
    </p>

    <div *ngIf="comment.is_spoiler && !showSpoilerContent" (click)="toggleSpoiler()" class="w-full mt-2 h-[5vh] bg-(--bg-surface-4-light) dark:bg-(--bg-surface-1-dark) rounded-[5px] flex items-center justify-center">
        <p class="font-bold text-(--color-main-light) dark:text-(--color-main-dark)">Show spoiler</p>
    </div>
</div>
