<div class="mb-[2em] w-[250px] bg-(--bg-surface-1-light) dark:bg-(--bg-surface-1-dark) shadow-(--shadow-light) dark:shadow-(--shadow-dark) rounded-(--radius-outer) overflow-hidden mt-10">
  <img class="w-full h-40 object-cover" src="assets/img/wQEW3xLrQAThu1GvqpsKQyejrYS.jpg" alt="Movie Poster">
  <div class="p-4 flex flex-col gap-2.5">
    <div class="flex items-center gap-2">
      <h2 class="text-lg font-bold">{{content.name}} </h2>
      <p class="text-lg" *ngIf="type == 'series'"> - 2 seasons</p>
    </div>
      <p class=" text-xs text-justify">{{content.description}}</p>
      <div class="flex items-center gap-4">
        
        <p class="text-(--color-main-light) dark:text-(--color-main-dark) text-2xl">
          <ng-container *ngFor="let star of [1,2,3,4,5]">
            <span *ngIf="content.Favorite?.rating >= star">&#9733;</span>
            <span *ngIf="content.Favorite?.rating < star">&#9734;</span>
          </ng-container>
        </p> <!-- faire logique en fonction du rating-->
        <p class="font-bold">·</p>
        <p class="text-sm" *ngIf="type == 'movies'">{{content.duration}} min</p>
      </div>
  </div>
</div>
