<div class="mb-[2em] w-[250px] bg-(--bg-surface-1-light) dark:bg-(--bg-surface-1-dark) shadow-(--shadow-light) dark:shadow-(--shadow-dark) rounded-(--radius-outer) overflow-hidden mt-10">
  <img class="w-full h-40 object-cover" src="{{content.thumbnail}}" alt="Poster">
  <div class="p-4 flex flex-col gap-2.5">
    <div class="flex items-center gap-2">
      <h2 class="text-lg font-bold">{{content.name}} </h2>
      <p class="text-lg" *ngIf="type == 'series'"> - {{content.seasons}} seasons</p>
    </div>
      <p class=" text-xs text-justify">{{content.description}}</p>
      <div class="flex items-center gap-4">
        <p class="text-(--color-main-light) text-sm dark:text-(--color-main-dark) text-2xl">&#9733; &#9733; &#9733; &#9733; &#9734;</p> <!-- faire logique en fonction du rating-->
        <p class="font-bold">·</p>
        <p class="text-sm" *ngIf="type == 'series'">{{content.episodes}} episodes</p>
        <p class="text-sm" *ngIf="type == 'movies'">{{content.duration}} min</p>
      </div>
  </div>
</div>
