<header class="flex items-center justify-between bg-(--bg-color-light) dark:bg-(--bg-color-dark) p-6">
  <div class="text-3xl font-bold text-(--color-main-light) dark:text-(--color-main-dark) cursor-pointer" routerLink="">
    WATCHLY
  </div>

    <!-- Affichez l'input si ce n'est pas login ou register -->
    <div class="w-1/3 flex gap-4 items-center" *ngIf="route !== 'login' && route !== 'register'">
      <input
        [(ngModel)]="searchQuery"
        type="text"
        placeholder="What are you looking for ?"
        class="w-full px-4 py-1.5 rounded-full bg-(--bg-surface-1-light) dark:bg-(--bg-surface-1-dark) border border-(--bg-surface-2-light) dark:border-(--bg-surface-2-dark)"
      />
      <svg class="cursor-pointer stroke-(--color-main-light) dark:stroke-(--color-main-dark)" (click)="goToResearch()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="10" r="7" stroke-width="2" fill="none"/>
        <line x1="14.95" y1="14.95" x2="19" y2="19" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </div>
  <!-- Affichez un autre bloc en fonction de la route -->

  <!-- Admin panel button if logged in -->
  <div class="flex auto pr-10">
    <div *ngIf="token && isAdmin" class="text-sm cursor-pointer" routerLink="/admin">
    Admin Panel
    </div>
  </div>
  <!-- Affichez un autre bloc en fonction de la route -->
   <div class="flex items-center space-x-2 cursor-pointer" *ngIf="token" routerLink="/profile">
      <span>{{ username }}</span>
      <div class="w-8 h-8 flex items-center justify-center rounded-full overflow-hidden">
        <img [src]="profilePicture" 
             alt="Profile picture"
             class="w-full h-full object-cover" 
             onerror="this.src='assets/img/default-person.jpg'"/>
      </div>
    </div>
    <div *ngIf="!token" class="text-sm font-semibold cursor-pointer" routerLink="/login">
      Login
    </div>
</header>
