<div class="w-full p-8">
    <div class="flex gap-15 mt-12 p-6">
        <div class="w-1/5 flex flex-col items-center gap-4">
            <img [src]="profilePicture" 
                 alt="Profile" 
                 class="w-full rounded-full"
                 onerror="this.src='assets/img/default-person.jpg'">
            <a routerLink="/parameters" class="underline cursor-pointer">Parameters</a>
            <p class="font-bold text-red-500 cursor-pointer" (click)="logout()">Logout</p>
        </div>
        <div class="w-4/5 flex flex-col gap-4">
            <p class="text-4xl font-bold">{{ firstname }} {{ lastname }} ({{ username }})</p>
            <div class="w-full overflow-hidden mt-8 pb-15">
                <h2 class="text-3xl font-bold text-(--color-main-light) dark:text-(--color-main-dark)">Favorite shows</h2>

                <swiper
                    [slidesPerView]="3"
                    [spaceBetween]="40"
                    [navigation]="false"
                    [keyboard]="true"
                >
                    <ng-template *ngFor="let i of [0, 1, 2, 3, 4, 5]" swiperSlide>
                        <app-content-card [type]="'series'"></app-content-card>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
    <div class="px-6">
        <h2 class="text-3xl font-bold">All comments</h2>
        <!-- Success Message -->
        <div *ngIf="successMessage" class="mt-4 p-3 bg-green-100 border border-green-400 text-green-700 rounded relative" role="alert">
            <span class="block sm:inline">{{ successMessage }}</span>
        </div>
        <div class="comments-section">
            <app-comment *ngFor="let comment of comments"
                        [page]="'profile'"
                        [comment]="comment"
                        [isPage]="true"
                        [canDelete]="true"
                        (deleteComment)="deleteComment($event)">
            </app-comment>
        </div>
    </div>
</div>
