<div class="relative w-full h-[35vh] overflow-hidden text-white">
    <img [src]="picUrl" alt="Arcane Season 2 banner" class="w-full h-full object-cover ">
    <div class="absolute top-0 left-0 w-full h-full banner-gradient"></div>
    <div class="absolute bottom-5 left-5 text-white">
        <h2 class="text-4xl font-bold uppercase">New Show to Rate !</h2>
        <div class="flex justify-between gap-4 mt-2">
            <p class="text-2xl font-semibold mt-2">{{newShow.name}}</p>
            <a routerLink="/{{newShow.show_id}}" class="mt-2 flex items-center gap-4 rounded-full bg-(--color-main-light) dark:bg-(--color-main-dark) px-6 py-1 text-sm">
                Show’s page
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24" fill="white" width="24" height="24">
                    <path fill-rule="evenodd" d="M2 12a1 1 0 0 1 1-1h20l-5.293-5.293a1 1 0 1 1 1.414-1.414l7 7a1 1 0 0 1 0 1.414l-7 7a1 1 0 1 1-1.414-1.414L23 13H3a1 1 0 0 1-1-1z" clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
    </div>
</div>
