<div class="relative w-full h-[35vh] overflow-hidden" >
  <!-- Vidéo -->
    <!-- Fallback Image -->
    <img src="assets/img/wQEW3xLrQAThu1GvqpsKQyejrYS.jpg" alt="Bannière vidéo" class="absolute top-0 left-0 w-full h-full object-cover">
    <!--On doit peut être forcer l'autoplay avec du js à voir-->
  <video class="absolute top-0 left-0 w-full h-full object-cover " (click)="controls($event)" autoplay [muted]="true" playsinline loop>
    <source src="assets/videos/King Princess - “Fantastic” (from Arcane Season 2) [Official Music Video].mp4" type="video/mp4">
  </video> 
  
</div>
  